
.t-ccf-1 {
  width: 1445px;
  height: 280px;
  position: absolute;
  left: 311px;
  top: 195px;
  object-fit: cover;
}
.t-ccf-1-text {
  color: #000000;
  text-align: left;
  font-size: 40px;
  font-weight: 700;
  position: absolute;
  left: 102px;
  top: 242px;
}
.t-ccf-1-ship {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  width: 184px;
  height: 42px;
  position: absolute;
  left: 95px;
  top: 309px;
}
.t-ccf-1-ship-text {
  color: #ff9898;
  text-align: left;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 112px;
  top: 315px;
}
.t-tong-0 {
  width: 39px;
  height: 39px;
  position: absolute;
  left: 321px;
  top: 322px;
  object-fit: cover;
}
.t-v-0-tong-1 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 322px;
  top: 323px;
}
.t-v-0-tong-2 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 345px;
  top: 323px;
}
.t-v-0-tong-3 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 333px;
  top: 343px;
}
.t-tong-1 {
  width: 39px;
  height: 39px;
  position: absolute;
  left: 363px;
  top: 322px;
  object-fit: cover;
}
.t-v-1-tong-1 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 364px;
  top: 323px;
}
.t-v-1-tong-2 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 387px;
  top: 323px;
}
.t-v-1-tong-3 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 375px;
  top: 343px;
}
.t-tong-2 {
  width: 39px;
  height: 39px;
  position: absolute;
  left: 411px;
  top: 317px;
  object-fit: cover;
}
.t-v-2-tong-1 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 412px;
  top: 318px;
}
.t-v-2-tong-2 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 435px;
  top: 318px;
}
.t-v-2-tong-3 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 423px;
  top: 338px;
}
.t-tong-3 {
  width: 39px;
  height: 39px;
  position: absolute;
  left: 453px;
  top: 317px;
  object-fit: cover;
}
.t-v-3-tong-1 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 454px;
  top: 318px;
}
.t-v-3-tong-2 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 477px;
  top: 318px;
}
.t-v-3-tong-3 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 465px;
  top: 338px;
}
.t-tong-4 {
  width: 39px;
  height: 39px;
  position: absolute;
  left: 497px;
  top: 317px;
  object-fit: cover;
}
.t-v-4-tong-1 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 498px;
  top: 318px;
}
.t-v-4-tong-2 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 521px;
  top: 318px;
}
.t-v-4-tong-3 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 509px;
  top: 338px;
}
.t-tong-5 {
  width: 39px;
  height: 39px;
  position: absolute;
  left: 568px;
  top: 319px;
  object-fit: cover;
}
.t-v-5-tong-1 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 569px;
  top: 320px;
}
.t-v-5-tong-2 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 592px;
  top: 320px;
}
.t-v-5-tong-3 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 580px;
  top: 340px;
}
.t-tong-6 {
  width: 39px;
  height: 39px;
  position: absolute;
  left: 636px;
  top: 321px;
  object-fit: cover;
}
.t-v-6-tong-1 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 637px;
  top: 322px;
}
.t-v-6-tong-2 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 660px;
  top: 322px;
}
.t-v-6-tong-3 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 648px;
  top: 342px;
}
.t-tong-7 {
  width: 39px;
  height: 39px;
  position: absolute;
  left: 702px;
  top: 331px;
  object-fit: cover;
}
.t-v-7-tong-1 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 703px;
  top: 332px;
}
.t-v-7-tong-2 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 726px;
  top: 332px;
}
.t-v-7-tong-3 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 714px;
  top: 352px;
}
.t-tong-8 {
  width: 39px;
  height: 39px;
  position: absolute;
  left: 776px;
  top: 332px;
  object-fit: cover;
}
.t-v-8-tong-1 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 777px;
  top: 333px;
}
.t-v-8-tong-2 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 800px;
  top: 333px;
}
.t-v-8-tong-3 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 788px;
  top: 353px;
}
.t-tong-9 {
  width: 39px;
  height: 39px;
  position: absolute;
  left: 815px;
  top: 332px;
  object-fit: cover;
}
.t-v-9-tong-1 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 816px;
  top: 333px;
}
.t-v-9-tong-2 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 839px;
  top: 333px;
}
.t-v-9-tong-3 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 827px;
  top: 353px;
}
.t-tong-10 {
  width: 39px;
  height: 39px;
  position: absolute;
  left: 854px;
  top: 332px;
  object-fit: cover;
}
.t-v-10-tong-1 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 855px;
  top: 333px;
}
.t-v-10-tong-2 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 878px;
  top: 333px;
}
.t-v-10-tong-3 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 866px;
  top: 353px;
}
.t-tong-11 {
  width: 39px;
  height: 39px;
  position: absolute;
  left: 893px;
  top: 332px;
  object-fit: cover;
}
.t-v-11-tong-1 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 894px;
  top: 333px;
}
.t-v-11-tong-2 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 917px;
  top: 333px;
}
.t-v-11-tong-3 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 905px;
  top: 353px;
}
.t-tong-12 {
  width: 39px;
  height: 39px;
  position: absolute;
  left: 932px;
  top: 332px;
  object-fit: cover;
}
.t-v-12-tong-1 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 933px;
  top: 333px;
}
.t-v-12-tong-2 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 956px;
  top: 333px;
}
.t-v-12-tong-3 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 944px;
  top: 353px;
}
.t-tong-13 {
  width: 39px;
  height: 39px;
  position: absolute;
  left: 971px;
  top: 332px;
  object-fit: cover;
}
.t-v-13-tong-1 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 972px;
  top: 333px;
}
.t-v-13-tong-2 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 995px;
  top: 333px;
}
.t-v-13-tong-3 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 983px;
  top: 353px;
}
.t-tong-14 {
  width: 39px;
  height: 39px;
  position: absolute;
  left: 1010px;
  top: 332px;
  object-fit: cover;
}
.t-v-14-tong-1 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 1011px;
  top: 333px;
}
.t-v-14-tong-2 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 1034px;
  top: 333px;
}
.t-v-14-tong-3 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 1022px;
  top: 353px;
}
.t-tong-15 {
  width: 39px;
  height: 39px;
  position: absolute;
  left: 1049px;
  top: 332px;
  object-fit: cover;
}
.t-v-15-tong-1 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 1050px;
  top: 333px;
}
.t-v-15-tong-2 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 1073px;
  top: 333px;
}
.t-v-15-tong-3 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 1061px;
  top: 353px;
}
.t-tong-16 {
  width: 39px;
  height: 39px;
  position: absolute;
  left: 1088px;
  top: 332px;
  object-fit: cover;
}
.t-v-16-tong-1 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 1089px;
  top: 333px;
}
.t-v-16-tong-2 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 1112px;
  top: 333px;
}
.t-v-16-tong-3 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 1100px;
  top: 353px;
}
.t-tong-17 {
  width: 39px;
  height: 39px;
  position: absolute;
  left: 1127px;
  top: 332px;
  object-fit: cover;
}
.t-v-17-tong-1 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 1128px;
  top: 333px;
}
.t-v-17-tong-2 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 1151px;
  top: 333px;
}
.t-v-17-tong-3 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 1139px;
  top: 353px;
}
.t-tong-18 {
  width: 39px;
  height: 39px;
  position: absolute;
  left: 1166px;
  top: 332px;
  object-fit: cover;
}
.t-v-18-tong-1 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 1167px;
  top: 333px;
}
.t-v-18-tong-2 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 1190px;
  top: 333px;
}
.t-v-18-tong-3 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 1178px;
  top: 353px;
}
.t-tong-19 {
  width: 39px;
  height: 39px;
  position: absolute;
  left: 1205px;
  top: 332px;
  object-fit: cover;
}
.t-v-19-tong-1 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 1206px;
  top: 333px;
}
.t-v-19-tong-2 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 1229px;
  top: 333px;
}
.t-v-19-tong-3 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 1217px;
  top: 353px;
}
.t-tong-20 {
  width: 39px;
  height: 39px;
  position: absolute;
  left: 1276px;
  top: 332px;
  object-fit: cover;
}
.t-v-20-tong-1 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 1277px;
  top: 333px;
}
.t-v-20-tong-2 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 1300px;
  top: 333px;
}
.t-v-20-tong-3 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 1288px;
  top: 353px;
}
.t-tong-21 {
  width: 39px;
  height: 39px;
  position: absolute;
  left: 1350px;
  top: 332px;
  object-fit: cover;
}
.t-v-21-tong-1 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 1351px;
  top: 333px;
}
.t-v-21-tong-2 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 1374px;
  top: 333px;
}
.t-v-21-tong-3 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 1362px;
  top: 353px;
}
.t-tong-22 {
  width: 39px;
  height: 39px;
  position: absolute;
  left: 1414px;
  top: 322px;
  object-fit: cover;
}
.t-v-22-tong-1 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 1415px;
  top: 323px;
}
.t-v-22-tong-2 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 1438px;
  top: 323px;
}
.t-v-22-tong-3 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 1426px;
  top: 343px;
}
.t-tong-23 {
  width: 39px;
  height: 39px;
  position: absolute;
  left: 1457px;
  top: 322px;
  object-fit: cover;
}
.t-v-23-tong-1 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 1458px;
  top: 323px;
}
.t-v-23-tong-2 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 1481px;
  top: 323px;
}
.t-v-23-tong-3 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 1469px;
  top: 343px;
}
.t-tong-24 {
  width: 39px;
  height: 39px;
  position: absolute;
  left: 1506px;
  top: 410px;
  object-fit: cover;
}
.t-v-24-tong-1 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 1507px;
  top: 411px;
}
.t-v-24-tong-2 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 1530px;
  top: 411px;
}
.t-v-24-tong-3 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 1518px;
  top: 431px;
}
.t-tong-25 {
  width: 39px;
  height: 39px;
  position: absolute;
  left: 1506px;
  top: 335px;
  object-fit: cover;
}
.t-v-25-tong-1 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 1507px;
  top: 336px;
}
.t-v-25-tong-2 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 1530px;
  top: 336px;
}
.t-v-25-tong-3 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 1518px;
  top: 356px;
}
.t-tong-26 {
  width: 39px;
  height: 39px;
  position: absolute;
  left: 1559px;
  top: 323px;
  object-fit: cover;
}
.t-v-26-tong-1 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 1560px;
  top: 324px;
}
.t-v-26-tong-2 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 1583px;
  top: 324px;
}
.t-v-26-tong-3 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 1571px;
  top: 344px;
}
.t-tong-27 {
  width: 39px;
  height: 39px;
  position: absolute;
  left: 1609px;
  top: 323px;
  object-fit: cover;
}
.t-v-27-tong-1 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 1610px;
  top: 324px;
}
.t-v-27-tong-2 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 1633px;
  top: 324px;
}
.t-v-27-tong-3 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 1621px;
  top: 344px;
}
.t-tong-28 {
  width: 39px;
  height: 39px;
  position: absolute;
  left: 1656px;
  top: 323px;
  object-fit: cover;
}
.t-v-28-tong-1 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 1657px;
  top: 324px;
}
.t-v-28-tong-2 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 1680px;
  top: 324px;
}
.t-v-28-tong-3 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 1668px;
  top: 344px;
}
.t-tong-29 {
  width: 39px;
  height: 39px;
  position: absolute;
  left: 1707px;
  top: 323px;
  object-fit: cover;
}
.t-v-29-tong-1 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 1708px;
  top: 324px;
}
.t-v-29-tong-2 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 1731px;
  top: 324px;
}
.t-v-29-tong-3 {
  background: #d9d9d9;
  width: 14px;
  height: 17px;
  position: absolute;
  left: 1719px;
  top: 344px;
}
.t-red-left-1 {
  width: 32.t-53px;
  height: 29px;
  position: absolute;
  left: 617px;
  top: 411px;
  object-fit: cover;
}
.t-red-right-1 {
  width: 32.t-53px;
  height: 29px;
  position: absolute;
  left: 652px;
  top: 411px;
  object-fit: cover;
}
.t-yellow-left-1 {
  width: 33px;
  height: 29px;
  position: absolute;
  left: 617px;
  top: 411px;
  object-fit: cover;
}
.t-yellow-right-1 {
  width: 33px;
  height: 29px;
  position: absolute;
  left: 651px;
  top: 411px;
  object-fit: cover;
}
.t-red-left-2 {
  width: 32.t-53px;
  height: 29px;
  position: absolute;
  left: 692px;
  top: 411px;
  object-fit: cover;
}
.t-red-right-2 {
  width: 32.t-53px;
  height: 29px;
  position: absolute;
  left: 727px;
  top: 411px;
  object-fit: cover;
}
.t-yellow-left-2 {
  width: 33px;
  height: 29px;
  position: absolute;
  left: 692px;
  top: 411px;
  object-fit: cover;
}
.t-yellow-right-2 {
  width: 33px;
  height: 29px;
  position: absolute;
  left: 726px;
  top: 411px;
  object-fit: cover;
}
.t-red-left-3 {
  width: 32.t-53px;
  height: 29px;
  position: absolute;
  left: 862px;
  top: 411px;
  object-fit: cover;
}
.t-red-right-3 {
  width: 32.t-53px;
  height: 29px;
  position: absolute;
  left: 897px;
  top: 411px;
  object-fit: cover;
}
.t-yellow-left-3 {
  width: 33px;
  height: 29px;
  position: absolute;
  left: 862px;
  top: 411px;
  object-fit: cover;
}
.t-yellow-right-3 {
  width: 33px;
  height: 29px;
  position: absolute;
  left: 896px;
  top: 411px;
  object-fit: cover;
}
.t-red-left-4 {
  width: 32.t-53px;
  height: 29px;
  position: absolute;
  left: 1258px;
  top: 411px;
  object-fit: cover;
}
.t-red-right-4 {
  width: 32.t-53px;
  height: 29px;
  position: absolute;
  left: 1293px;
  top: 411px;
  object-fit: cover;
}
.t-yellow-left-4 {
  width: 33px;
  height: 29px;
  position: absolute;
  left: 1258px;
  top: 411px;
  object-fit: cover;
}
.t-yellow-right-4 {
  width: 33px;
  height: 29px;
  position: absolute;
  left: 1292px;
  top: 411px;
  object-fit: cover;
}
.t-red-left-5 {
  width: 32.t-53px;
  height: 29px;
  position: absolute;
  left: 1334px;
  top: 411px;
  object-fit: cover;
}
.t-red-right-5 {
  width: 32.t-53px;
  height: 29px;
  position: absolute;
  left: 1369px;
  top: 411px;
  object-fit: cover;
}
.t-yellow-left-5 {
  width: 33px;
  height: 29px;
  position: absolute;
  left: 1334px;
  top: 411px;
  object-fit: cover;
}
.t-yellow-right-5 {
  width: 33px;
  height: 29px;
  position: absolute;
  left: 1368px;
  top: 411px;
  object-fit: cover;
}
.t-bar-green-1 {
  width: 55px;
  height: 6px;
  position: absolute;
  left: 497px;
  top: 357px;
  object-fit: cover;
}
.t-bar-red-1 {
  width: 62px;
  height: 6px;
  position: absolute;
  left: 557px;
  top: 358px;
  object-fit: cover;
}
.t-con-off-0 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 321px;
  top: 358px;
  object-fit: cover;
}
.t-con-on-0 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 321px;
  top: 358px;
  object-fit: cover;
}
.t-con-off-1 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 352px;
  top: 358px;
  object-fit: cover;
}
.t-con-on-1 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 352px;
  top: 358px;
  object-fit: cover;
}
.t-con-off-2 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 363px;
  top: 358px;
  object-fit: cover;
}
.t-con-on-2 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 363px;
  top: 358px;
  object-fit: cover;
}
.t-con-off-3 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 394px;
  top: 358px;
  object-fit: cover;
}
.t-con-on-3 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 394px;
  top: 358px;
  object-fit: cover;
}
.t-con-off-4 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 411px;
  top: 353px;
  object-fit: cover;
}
.t-con-on-4 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 411px;
  top: 353px;
  object-fit: cover;
}
.t-con-off-5 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 442px;
  top: 353px;
  object-fit: cover;
}
.t-con-on-5 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 442px;
  top: 353px;
  object-fit: cover;
}
.t-con-off-6 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 453px;
  top: 353px;
  object-fit: cover;
}
.t-con-on-6 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 453px;
  top: 353px;
  object-fit: cover;
}
.t-con-off-7 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 484px;
  top: 353px;
  object-fit: cover;
}
.t-con-on-7 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 484px;
  top: 353px;
  object-fit: cover;
}
.t-con-off-8 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 497px;
  top: 353px;
  object-fit: cover;
}
.t-con-on-8 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 497px;
  top: 353px;
  object-fit: cover;
}
.t-con-off-9 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 528px;
  top: 353px;
  object-fit: cover;
}
.t-con-on-9 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 528px;
  top: 353px;
  object-fit: cover;
}
.t-con-off-10 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 636px;
  top: 357px;
  object-fit: cover;
}
.t-con-on-10 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 636px;
  top: 357px;
  object-fit: cover;
}
.t-con-off-11 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 667px;
  top: 357px;
  object-fit: cover;
}
.t-con-on-11 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 667px;
  top: 357px;
  object-fit: cover;
}
.t-con-off-12 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 702px;
  top: 367px;
  object-fit: cover;
}
.t-con-on-12 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 702px;
  top: 367px;
  object-fit: cover;
}
.t-con-off-13 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 733px;
  top: 367px;
  object-fit: cover;
}
.t-con-on-13 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 733px;
  top: 367px;
  object-fit: cover;
}
.t-con-off-14 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 776px;
  top: 368px;
  object-fit: cover;
}
.t-con-on-14 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 776px;
  top: 368px;
  object-fit: cover;
}
.t-con-off-15 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 807px;
  top: 368px;
  object-fit: cover;
}
.t-con-on-15 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 807px;
  top: 368px;
  object-fit: cover;
}
.t-con-off-16 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 815px;
  top: 368px;
  object-fit: cover;
}
.t-con-on-16 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 815px;
  top: 368px;
  object-fit: cover;
}
.t-con-off-17 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 963px;
  top: 368px;
  object-fit: cover;
}
.t-con-on-17 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 963px;
  top: 368px;
  object-fit: cover;
}
.t-con-off-18 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 971px;
  top: 368px;
  object-fit: cover;
}
.t-con-on-18 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 971px;
  top: 368px;
  object-fit: cover;
}
.t-con-off-19 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 1197px;
  top: 368px;
  object-fit: cover;
}
.t-con-on-19 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 1197px;
  top: 368px;
  object-fit: cover;
}
.t-con-off-20 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 1205px;
  top: 368px;
  object-fit: cover;
}
.t-con-on-20 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 1205px;
  top: 368px;
  object-fit: cover;
}
.t-con-off-21 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 1236px;
  top: 368px;
  object-fit: cover;
}
.t-con-on-21 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 1236px;
  top: 368px;
  object-fit: cover;
}
.t-con-off-22 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 1276px;
  top: 368px;
  object-fit: cover;
}
.t-con-on-22 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 1276px;
  top: 368px;
  object-fit: cover;
}
.t-con-off-23 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 1307px;
  top: 368px;
  object-fit: cover;
}
.t-con-on-23 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 1307px;
  top: 368px;
  object-fit: cover;
}
.t-con-off-24 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 1350px;
  top: 368px;
  object-fit: cover;
}
.t-con-on-24 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 1350px;
  top: 368px;
  object-fit: cover;
}
.t-con-off-25 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 1381px;
  top: 368px;
  object-fit: cover;
}
.t-con-on-25 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 1381px;
  top: 368px;
  object-fit: cover;
}
.t-con-off-26 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 1656px;
  top: 358px;
  object-fit: cover;
}
.t-con-on-26 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 1656px;
  top: 358px;
  object-fit: cover;
}
.t-con-off-27 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 1687px;
  top: 358px;
  object-fit: cover;
}
.t-con-on-27 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 1687px;
  top: 358px;
  object-fit: cover;
}
.t-con-off-28 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 1707px;
  top: 358px;
  object-fit: cover;
}
.t-con-on-28 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 1707px;
  top: 358px;
  object-fit: cover;
}
.t-con-off-29 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 1738px;
  top: 358px;
  object-fit: cover;
}
.t-con-on-29 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 1738px;
  top: 358px;
  object-fit: cover;
}
.t-agi-1 {
  width: 34px;
  height: 34px;
  position: absolute;
  left: 1468px;
  top: 428px;
  object-fit: cover;
}
.t-agi-2 {
  width: 34px;
  height: 34px;
  position: absolute;
  left: 1468px;
  top: 428px;
  object-fit: cover;
}
.t-agi-3 {
  width: 34px;
  height: 34px;
  position: absolute;
  left: 1547px;
  top: 428px;
  object-fit: cover;
}
.t-agi-4 {
  width: 34px;
  height: 34px;
  position: absolute;
  left: 1547px;
  top: 428px;
  object-fit: cover;
}
.t-lamp-green-1 {
  width: 45px;
  height: 90px;
  position: absolute;
  left: 565px;
  top: 208px;
  object-fit: cover;
}
.t-pen-rol-1 {
  width: 42px;
  height: 32px;
  position: absolute;
  left: 567px;
  top: 278px;
  object-fit: cover;
}
.t-lamp-green-2 {
  width: 45px;
  height: 90px;
  position: absolute;
  left: 699px;
  top: 202px;
  object-fit: cover;
}
.t-pen-rol-2 {
  width: 42px;
  height: 32px;
  position: absolute;
  left: 701px;
  top: 272px;
  object-fit: cover;
}
.t-lamp-green-3 {
  width: 45px;
  height: 90px;
  position: absolute;
  left: 856px;
  top: 208px;
  object-fit: cover;
}
.t-pen-rol-3 {
  width: 42px;
  height: 32px;
  position: absolute;
  left: 858px;
  top: 278px;
  object-fit: cover;
}
.t-lamp-green-4 {
  width: 45px;
  height: 90px;
  position: absolute;
  left: 1040px;
  top: 208px;
  object-fit: cover;
}
.t-pen-rol-4 {
  width: 42px;
  height: 32px;
  position: absolute;
  left: 1042px;
  top: 278px;
  object-fit: cover;
}
.t-lamp-green-5 {
  width: 45px;
  height: 90px;
  position: absolute;
  left: 1270px;
  top: 208px;
  object-fit: cover;
}
.t-pen-rol-5 {
  width: 42px;
  height: 32px;
  position: absolute;
  left: 1272px;
  top: 278px;
  object-fit: cover;
}
.t-lamp-green-6 {
  width: 45px;
  height: 90px;
  position: absolute;
  left: 1347px;
  top: 208px;
  object-fit: cover;
}
.t-pen-rol-6 {
  width: 42px;
  height: 32px;
  position: absolute;
  left: 1349px;
  top: 278px;
  object-fit: cover;
}
.t-door-red-1 {
  background: #ff0000;
  border-style: solid;
  border-color: #000000;
  border-width: 0.t-5px;
  width: 11px;
  height: 69px;
  position: absolute;
  left: 553px;
  top: 231px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.t-door-green-1 {
  background: #0b8a1f;
  border-style: solid;
  border-color: #000000;
  border-width: 0.t-5px;
  width: 11px;
  height: 91px;
  position: absolute;
  left: 553px;
  top: 280px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.t-door-red-2 {
  background: #ff0000;
  border-style: solid;
  border-color: #000000;
  border-width: 0.t-5px;
  width: 11px;
  height: 69px;
  position: absolute;
  left: 633px;
  top: 231px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.t-door-green-2 {
  background: #0b8a1f;
  border-style: solid;
  border-color: #000000;
  border-width: 0.t-5px;
  width: 11px;
  height: 91px;
  position: absolute;
  left: 633px;
  top: 280px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.t-door-red-3 {
  background: #ff0000;
  border-style: solid;
  border-color: #000000;
  border-width: 0.t-5px;
  width: 11px;
  height: 69px;
  position: absolute;
  left: 691px;
  top: 225px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.t-door-green-3 {
  background: #0b8a1f;
  border-style: solid;
  border-color: #000000;
  border-width: 0.t-5px;
  width: 11px;
  height: 91px;
  position: absolute;
  left: 691px;
  top: 274px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.t-door-red-4 {
  background: #ff0000;
  border-style: solid;
  border-color: #000000;
  border-width: 0.t-5px;
  width: 11px;
  height: 69px;
  position: absolute;
  left: 770px;
  top: 225px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.t-door-green-4 {
  background: #0b8a1f;
  border-style: solid;
  border-color: #000000;
  border-width: 0.t-5px;
  width: 11px;
  height: 91px;
  position: absolute;
  left: 770px;
  top: 274px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.t-door-red-5 {
  background: #ff0000;
  border-style: solid;
  border-color: #000000;
  border-width: 0.t-5px;
  width: 11px;
  height: 69px;
  position: absolute;
  left: 1264px;
  top: 226px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.t-door-green-5 {
  background: #0b8a1f;
  border-style: solid;
  border-color: #000000;
  border-width: 0.t-5px;
  width: 11px;
  height: 91px;
  position: absolute;
  left: 1264px;
  top: 275px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.t-door-red-6 {
  background: #ff0000;
  border-style: solid;
  border-color: #000000;
  border-width: 0.t-5px;
  width: 11px;
  height: 69px;
  position: absolute;
  left: 1338px;
  top: 226px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.t-door-green-6 {
  background: #0b8a1f;
  border-style: solid;
  border-color: #000000;
  border-width: 0.t-5px;
  width: 11px;
  height: 91px;
  position: absolute;
  left: 1338px;
  top: 275px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.t-door-red-7 {
  background: #ff0000;
  border-style: solid;
  border-color: #000000;
  border-width: 0.t-5px;
  width: 11px;
  height: 69px;
  position: absolute;
  left: 1407px;
  top: 226px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.t-door-green-7 {
  background: #0b8a1f;
  border-style: solid;
  border-color: #000000;
  border-width: 0.t-5px;
  width: 11px;
  height: 91px;
  position: absolute;
  left: 1407px;
  top: 275px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.t-jogging-box-1 {
  background: #ff5050;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 100px;
  height: 19px;
  position: absolute;
  left: 521px;
  top: 276px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.t-clutchon-box-1 {
  background: #1cbf0a;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 58px;
  height: 19px;
  position: absolute;
  left: 840px;
  top: 400px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.t-clutchon-box-2 {
  background: #1cbf0a;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 58px;
  height: 19px;
  position: absolute;
  left: 1231px;
  top: 400px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.t-jogging-mini-box-1 {
  background: #ff5050;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 67px;
  height: 19px;
  position: absolute;
  left: 760px;
  top: 468px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.t-jogging-mini-box-2 {
  background: #ff5050;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 67px;
  height: 19px;
  position: absolute;
  left: 1009px;
  top: 442px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.t-jogging-mini-box-3 {
  background: #ff5050;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 79px;
  height: 19px;
  position: absolute;
  left: 1009px;
  top: 468px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.t-jogging-mini-box-4 {
  background: #ff5050;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 67px;
  height: 19px;
  position: absolute;
  left: 1326px;
  top: 468px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.t-jogging-mini-box-5 {
  background: #ff5050;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 67px;
  height: 19px;
  position: absolute;
  left: 1403px;
  top: 468px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.t-high-speed-box-1 {
  background: #1cbf0a;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 67px;
  height: 19px;
  position: absolute;
  left: 760px;
  top: 442px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.t-high-speed-box-2 {
  background: #1cbf0a;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 67px;
  height: 19px;
  position: absolute;
  left: 1326px;
  top: 442px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.t-high-speed-box-3 {
  background: #1cbf0a;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 67px;
  height: 19px;
  position: absolute;
  left: 1403px;
  top: 442px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.t-elevator-1 {
  width: 46px;
  height: 125px;
  position: absolute;
  left: 1503px;
  top: 325px;
  object-fit: cover;
}
.t-elevator-2 {
  width: 46px;
  height: 125px;
  position: absolute;
  left: 1503px;
  top: 290px;
  object-fit: cover;
}
.t-elevator-3 {
  width: 46px;
  height: 125px;
  position: absolute;
  left: 1502px;
  top: 253px;
  object-fit: cover;
}
.t-rpm {
  color: #123478;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 1602px;
  top: 439px;
}
.t-rpm-value {
  background: #ffffff;
  border-style: solid;
  border-color: #123478;
  border-width: 2px;
  width: 71px;
  height: 29px;
  position: absolute;
  left: 1658px;
  top: 437px;
}
.t-process-data-header {
  background: #123478;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  width: 1288px;
  height: 36px;
  position: absolute;
  left: 1687px;
  top: 494px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.t-skim-text {
  color: #ffffff;
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 531px;
  top: 500px;
}
.t-pre-text {
  color: #ffffff;
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 663px;
  top: 500px;
}
.t-chim-text {
  color: #ffffff;
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 849px;
  top: 500px;
}
.t-diff-text {
  color: #ffffff;
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 1086px;
  top: 500px;
}
.t-q-1-text {
  color: #ffffff;
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 1289px;
  top: 500px;
}
.t-q-2-text {
  color: #ffffff;
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 1388px;
  top: 500px;
}
.t-salt-text {
  color: #ffffff;
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 1545px;
  top: 500px;
}
.t-process-data-box {
  background: #595959;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  width: 1288px;
  height: 82px;
  position: absolute;
  left: 1687px;
  top: 533px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.t-pv-box {
  background: #123478;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 98px;
  height: 24px;
  position: absolute;
  left: 504px;
  top: 560px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.t-pv-text {
  color: #ffffff;
  text-align: left;
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  left: 413px;
  top: 564px;
}
.t-sp-box {
  background: #004ade;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 98px;
  height: 24px;
  position: absolute;
  left: 504px;
  top: 587px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.t-sp-text {
  color: #ffffff;
  text-align: left;
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  left: 413px;
  top: 590px;
}
.t-skim-pv {
  background: #ffffff;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 96px;
  height: 24px;
  position: absolute;
  left: 511px;
  top: 560px;
}
.t-skim-sp {
  background: #ffffff;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 96px;
  height: 24px;
  position: absolute;
  left: 511px;
  top: 587px;
}
.t-pre-pv {
  background: #ffffff;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 96px;
  height: 24px;
  position: absolute;
  left: 634px;
  top: 560px;
}
.t-pre-sp {
  background: #ffffff;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 96px;
  height: 24px;
  position: absolute;
  left: 634px;
  top: 587px;
}
.t-cycle-no-text-1 {
  color: #ffffff;
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 773px;
  top: 570px;
}
.t-chim-cycle-no {
  background: #ffffff;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 96px;
  height: 24px;
  position: absolute;
  left: 889px;
  top: 570px;
}
.t-cycle-no-text-2 {
  color: #ffffff;
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 1010px;
  top: 570px;
}
.t-diff-cycle-no {
  background: #ffffff;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 96px;
  height: 24px;
  position: absolute;
  left: 1126px;
  top: 570px;
}
.t-q-1-pv {
  background: #ffffff;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 96px;
  height: 24px;
  position: absolute;
  left: 1265px;
  top: 560px;
}
.t-q-1-sp {
  background: #ffffff;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 96px;
  height: 24px;
  position: absolute;
  left: 1265px;
  top: 587px;
}
.t-q-2-pv {
  background: #ffffff;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 96px;
  height: 24px;
  position: absolute;
  left: 1364px;
  top: 560px;
}
.t-q-2-sp {
  background: #ffffff;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 96px;
  height: 24px;
  position: absolute;
  left: 1364px;
  top: 587px;
}
.t-salt-q-text {
  color: #ffffff;
  text-align: left;
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  left: 1492px;
  top: 541px;
}
.t-salt-q-pv {
  background: #ffffff;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 96px;
  height: 24px;
  position: absolute;
  left: 1484px;
  top: 560px;
}
.t-salt-q-sp {
  background: #ffffff;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 96px;
  height: 24px;
  position: absolute;
  left: 1484px;
  top: 587px;
}
.t-salt-d-text {
  color: #ffffff;
  text-align: left;
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  left: 1606px;
  top: 541px;
}
.t-salt-d-pv {
  background: #ffffff;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 96px;
  height: 24px;
  position: absolute;
  left: 1582px;
  top: 560px;
}
.t-salt-d-sp {
  background: #ffffff;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 96px;
  height: 24px;
  position: absolute;
  left: 1582px;
  top: 587px;
}
